# Ignore Maven target directory (build artifacts)
target/

# Ignore Maven local repository (cached dependencies)
.m2/

# Ignore IDE files (IntelliJ IDEA, Eclipse, etc.)

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
*.project
*.classpath
.settings/

# NetBeans
nbproject/

# Ignore OS-specific files (MacOS, Windows)
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files created by editors
*.swp
*.swo

# Ignore environment files
.env

# Ignore Docker-related files (optional)
.dockerignore

# Ignore SSH config files (optional)
.ssh/

# Ignore local shell configuration files
.bash_history
.bash_logout
.bashrc
.lesshst
.profile

# Ignore cache files and directories
.cache/
.local/

# Ignore other potentially unnecessary files
.sudo_as_admin_successful

